* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --body-bg: rgba(249, 220, 254, 1);
    --btn-bg: rgb(216, 191, 216);
}

@font-face {
    font-family: "Clip";
    src: url("/clip/clip.woff");
    }

body {
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--body-bg);
    }

header {
    margin:0;
    text-align: center;
    padding: 20px;
    top: 0;
    width: 100%;
}

header p {
    font-family: 'Open Sans';
    font-style: oblique;
    font-size: 1.2rem;
}

h1 {
    font-family: "Clip", sans-serif;
    margin: .5rem;
    font-size: 3rem;
    font-style: normal;
}

